
body{
    position: relative;
    text-align: center;
}

div#main{
position: relative;   
width: 400px;  
margin: 0px auto ;  
text-align: center;
}


div#main img{
    width: 150px;
    display: block;
    margin: 0px auto ;  
}


div#main h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    text-align: left;
}


div#main p{
   text-align: left;
}

img#build{
width: 40px;
}